body{
  margin: 0;
  font-family: lato;
}
.header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 65px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
}
.menu{
  padding-top: 10px;
}
.title{
  padding-top: 16px;
  font-family: 'Cinzel', serif;
  width: 100%;
}
.today{
  padding-top: 22px;
  font-size: 11px;
} 

.footer{
  font-size: 12px;  
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
  background: #bdc5cc;
}
.footer > span{
  margin-top: 10px;
}

.container{
  margin: 15px;
}
.job{
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
  border-radius: 15px;
}
.job:hover {
  background: #eee;
  cursor: pointer;
}
.job span {
  padding: 10px;
  margin: 0 0 10px 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.job > img{
  width: 30vw;
  height: 20vh;
  border-radius: 20px;
}
.job > a{
  color: #333;
  text-decoration: none;
}
.job > a:hover{
  color: blueviolet;
  text-decoration: underline;
}